* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
    /*comando remove a linha azul na caixa de seleção*/
}

body {
    background-color: #8C52FF;
}

.logo {
    margin-left: 50px; 
    width: 300px;
    display: block;
    margin: 30px auto; 
}

main {
    margin-left: 150px;
    background: #F4F4F4;
    width: 375px;
    display: block;
    margin: 0 auto 40px; 
    border-radius: 20px;
    padding: 44px 24px 23px;
}

label {
    color: #777;
    font-size: 14px;
}

select, input {
    appearance: none; /*comando para retirar a seta da caixa do select*/
    background: #FFF;
    border: 1px solid #BBB;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    padding-left: 22px;
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 700;
    color: #555;
    cursor: pointer;
}

button {
    border-radius: 5px;
    background: #772FD3;
    width: 100%;
    height: 48px;
    border: none;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

section {
    border-radius: 20px;
    border: 1px solid #772FD3;
    width: 327px;
    margin-top: 36px;
    padding: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow-img {
    margin: 15px 0;
}

.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px; /*serve para distanciar os itens dentro de uma div*/
}

.currency {
    color: #777;
    font-size: 14px;
    font-weight: 400;
}

.currency-value, .currency-value-to-convert{
    color: #555;
    font-size: 20px;
    font-weight: 700;
}